#header {
  background-color:#585858;
  height: 100px;
}
#nav {
  background-color:#585858;
    display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.name {
  background-color: #585858;
  padding: 4px;
  height: 100px;
  width: 100px;
}
#dataButton {
  padding: 10px;
  margin-top: 15px;
  background-color: #eee;
  height:fit-content;
}
#welcome {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

img {
  border-radius: 90px;
  height: 150px;
  width: 150px;
}

.rightAlign{
    text-align: right;
}
#adminportal{
  margin-top: -90px;
  margin-left: 550px;
}